nav {
  background-color: #025;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.btn-outline-main {
  color: #025;
  border-color: #025;
}

.btn-outline-main:hover, .btn-outline-main:active {
  color: #fff;
  background-color: #025;
  border-color: #025;
}

.btn-outline-main:focus {
  box-shadow: 0 0 0 0.25rem rgb(0 34 85 / 50%);
}

.ct-image {
  background-image: 'favicon.ico';
}